/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BASIC SETUP */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* REUSABLE COMPONENTS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ~~~~~~~~~~~~~~~~~~~ HEADINGS ~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~ ICONS ~~~~~~~~~~~~~~~~~~~ */

.pin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    height: 45px;
    width: auto;
    
}

/* ~~~~~~~~~~~~~~~~~~~ PARAGRAPHS ~~~~~~~~~~~~~~~~~~~ */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #2980b9;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #2980b9;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #2980b9;
}

.btn:hover,
.btn:active {
    background-color: #236d9d;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #236d9d;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #236d9d;
    color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* HEADER */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-sticky {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px 0;
    cursor: pointer;
}

/* main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2980b9;
}

/* sticky navi */
.sticky {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 9px 0px;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-sticky { display: block; }

.sticky .main-nav {
    margin-top: 15px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SERVIÇOS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.section-services {
    background-color: #efefef;
}

.services-showcase {
    width: 100%;
}

.services-showcase li {
    display: block;
    float: left;
    width: 20%;
}

.service-container-blank {
    opacity: 0;
}

.service-container {
    position: relative;
    height: 100%;
    border-right: 3px solid white;
    transition: transform 0.4s;
}

.service-container:hover {
    transform: scale(0.93);
    cursor: pointer;
}

.service-container:hover .service-img {
    filter: brightness(200%);
}

.service-img {
    width: 100%;
    height: 120px;
    filter: brightness(80%);
}

.service-text {
    position: absolute;
    z-index: 99;
    color: #fff;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NOSSOS ESCRITORIOS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.section-location {
    background-color: #fff;
}

.cartao-postal {
    display: block;
    margin-bottom: 10px;
    max-height: 170px;
    width: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FOOTER */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    color: #989898;
    background-size:cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/horizon.jpg);
}

footer ul {
    padding-top: 10px;
}

.footer {
    height: 80px;
    bottom: 100%;
}

.footer p {
    text-align: center;
    padding-top: 20px;
}

.contato {
    font-size: 80%;
    line-height: 145%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* TELA SERVIÇO */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.servico-section-1 {
    padding-bottom: 0;
}

.servico-section-2 {
    padding-top: 0;
}

.servico-item-container {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

.servico-item {
    font-weight: 400;
    border-bottom: 2px solid #2980b9;
    margin-bottom: 30px;
    display:inline-block;
}

.servico-image {   
    cursor: pointer;
}

.servico-image img {
    height: 45px;
    width: auto;
}